<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peak Seekers</title>
    <h1>Where would you like to hike?</h1>
</head>
<body>
    <form action = "/search" method = "POST">
        <input list="ranges" name="range">
        <datalist id="ranges">
            <option value="Eastern Great Smoky Mountains">
            <option value="Central Great Smoky Mountains">
            <option value="Roan-Unaka Mountains">
        </datalist>
        <p><input type = "submit" value = "Submit"></p>
    </form>
</body>
</html>

